body {
 margin: 0rem;
 padding: 0rem;
 font-family: 'Roboto', sans-serif;
}

a:-webkit-any-link {
  text-decoration: none;
}

link {
  text-decoration: none;
  color: white;
}

/* ------------ header ------------ */

.header {
  display: flex;
  flex-direction: row;
  height: 8rem;
  background-color: #66072f;
  font-family: 'Gravitas One';
  text-justify: center;
  justify-content: center;
  align-items: center;
}

div.text-pointer__container {
  display: inline;
  justify-self: center;
  text-align: center;
  width: 48rem;
  height: 100%;
}

.pointer-image {
  position: relative;
  width: 160px;
  top: 36px;
  left: -20px;
}

#header__text {
  display: inline;
  margin: 0px 0 0px 0;
  font-size: 3.1rem;
  color: #fff481;
  flex-wrap: nowrap;
  align-self: center;
}


/* ------------ search form ------------ */
.__search-container {
  margin: 16px auto 0 auto;
  justify-content: center;
}

.__name {
  width: 31rem;
  justify-self: center;
  margin: 0 auto 0 auto;
}

form.search {
  display: inline;
  justify-content: center;
  margin: 1.5rem auto 0 auto;
  font-size: 1rem;
}

form .__input-button-container {
  display: inline-block;
}

.__text-input {
  width: 20rem;
  display: inline;
  height: 1.5rem;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #a4a9af;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.__label {
  display: block;
  margin-top: 2rem;
}

.__button {
  display: inline;
  border: 2px solid #66072f;;
  border-radius: 5px;
  padding: 10px;
  margin: 0 10px 0 10px;
  text-decoration: none;
  text-decoration-style: none;
  background:  #66072f;
  color:  #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* --------- query error messages --------- */
.cow-message-container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.cow-text__container {
  font-size: xx-large;
  margin-top: 5rem;
}

.cow-text {
  font-size: xx-large;
  margin: 1rem 1rem 0 0rem;
}


/* ----------- movie search page ------------ */
.movie-results__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-justify: center;
}
.__instructions {
  margin: 2rem auto 1rem auto
}

.__button__container div {
  display: inline-block;
  justify-content: center;
}

.movie-results__poster {
  height: 25rem;
  margin: 1rem;
}

.movie-results__poster__default {
  background-color: #608fb6;
  padding-top: 5rem;
  font-size: medium;
  color: #284358;
  text-align: center;
  height: 20rem;
  width: 16.8rem;
  margin: 1rem;
}

/* .default-text {
  font-family: 'Gravitas One';
} */

.movie-detail__poster {
  height: 36rem;
  margin: 1rem;
}

/* ---------movie detail page ----------- */
.movie-detail__container {
  display: flex;
  flex-direction: row;
}

.poster-container {
margin: 2rem 0 2rem 2rem;
}

.detail-poster__default {
  text-align: center;
  font-size: x-large;
  color: #213d53;
  background-color: #608fb6;
  padding-top: 6rem;
  height: 30rem;
  width: 28rem;
}

/* .detail-poster__text {
  font-family: 'Roboto', sans-serif;
} */

.movie-title-detail {
  margin: 3rem auto 0 auto;
  font-weight: bold;
  font-size: 2rem;
}

.__text-container {
  padding: 2rem 8rem 2rem 2rem;
}

.movie-details {
margin: 10px auto 10px auto;
}

.__bold {
  font-weight: bold;
}

.ratings-container {
  display: flex;
  margin: 3rem auto 1rem auto;
  flex-direction: row;
}

.rating-text {
  font-size: larger;
}

.__symbol {
  margin: auto 1rem auto 1rem
}

.thumbs-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.__button.__thumbs {
  padding: 8px;
  border-radius: 12px;
  margin: 2.5rem 
}

.__thumbs-image {
  width: 7rem;
  border-radius: 5px;
}

button:hover {
  background: #96203d;
}

button:focus {
  outline: none;
  outline-offset: -4px;
}

.back-button__container {
  display:flex;
  flex-direction: row-reverse;
  margin-top: 2.5rem;
}

/* --------- not found page --------- */
.notFound-message-container {
 display: flex;
 justify-content: center;
}

.notFound__text {
font-size: xx-large;
margin: 18rem 3rem 2rem .5rem;
}

/* --------- loading error messages --------- */
.loading-text__container {
  display: flex;
  justify-items: center;
  margin: 18rem;
}

.loading-text {
  font-size: x-large;
}
