body {
 margin: 0rem;
 padding: 0rem;
 /* font-family: 'Lato', sans-serif; */
 /* font-family: 'Montserrat', sans-serif; */
font-family: 'Roboto', sans-serif;
}

.header__container {
  display: flex;
  height: 6rem;
  background-color: #690e25;
  font-family: 'Gravitas One', cursive;
  /* font-family: 'Rye', cursive; */
  text-justify: center;
}

.header__text {
  margin: 10px auto 0 auto;
  font-size: 4em;
  color: #fff7ae;
  justify-self: center;
  flex-wrap: nowrap;
}

.search__container {
  display: flex;
  justify-content: center;
  margin: 1.5rem auto 0 auto;
  font-size: 1.5rem;
}

.__form {
  /* margin: 1rem auto 0 6rem; */
  flex-direction: column;
  width: 25rem;
}

.__search-bar {
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-around;
}

.__text-input {
  width: 15rem;
}
.__space {
  margin: .5rem .5rem auto 0;
}

.__button {
  display: inline-block;
  border: none;
  border-radius: 5px;
  padding: 6px;
  margin: 0 10px 0 10px;
  text-decoration: none;
  background:  #690e25;
  color:  #fff4c3;
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* bordery button 
.__button {
  display: inline-block;
  border: 4px solid #690e25;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 6px;
  margin: 0 10px 0 10px;
  text-decoration: none;
  font-family: 'Gravitas One', cursive;
  font-size: .9rem;
  font-weight: bolder;
  color: #690e25;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
} */

.movie-results__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-justify: center;
}
.__instructions {
  margin: 2rem auto 1rem auto
}

.movie-detail__container {
  display: flex;
  flex-direction: row;
}

.__text-container {
  flex-direction: column;
}

.__button__container div {
  display: inline-block;
}

.movie-results__poster {
  height: 25rem;
  margin: 1rem;
}

.movie-results__poster__default {
  font-family: 'Gravitas One', cursive;
  background-color: #608fb6;
  height: 25rem;
  width: 16.8rem;
  margin: 1rem;
}

.movie-detail__poster {
  height: 36rem;
  margin: 1rem;
}

.movie-detail__poster__default {
  font-family: 'Gravitas One', cursive;
  font-size: xx-large;
  color: #213d53;
  background-color: #608fb6;
  height: 36rem;
  width: 28rem;
  margin: 1rem;
}

.__button.__thumbs {
  padding: 10px;
  margin: 0;
}

.__thumbs-image {
  width: 10rem;
  border-radius: 5px;
}

/* BLUE is default: */
/* button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
} */

